body{
	background-image: url("http://www.flickr.com/photos/31871979@N00/4951279679")
}

.space{
	margin: 60px 60px 40px 60px;
}
.portfolio-area{
	width: 1198px;
	height: 953px;
	font: 400 16px / 24px HelveticaNeue;
	font-family: HelveticaNeue;
	font-size: 16px;
	line-height: 24px;
	color: #2e2e2e;
}
.portfolio-item1{
	width: 576px;
	height: 453px;
}
.portfolio-item2{
	width: 576px;
    height: 453px;
}
.portfolio-item3{
	width: 576px;
    height: 250px;
	margin-left: 600px;
	padding-bottom: 200px;
}
.portfolio-item4{
	width: 576px;
    height: 250px;
}
.portfolio-item4 img{
	height: 150px; 
	width: 360;
}

